.box
  .panel.panel-default
    .panel-heading
      .panel-title Box Title
    .panel-body 
      Box Content
      %table
        %thead
          %tr
            %th Name
        %tbody
          - for i in 0..foo
            %tr
              %td= "content: #{foo}"