#column_center_title
  %spam Nequep 
  %spam#column_center_title_big orroquisquamestqui 
  %spam orroquisquamestqui
#column_center_content
  %spam Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec tellus ante. Praesent non auctor dui, non placerat leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam blandit elit vitae dui rutrum, vel pellentesque dui gravida. Pellentesque odio tellus, dictum sed quam at, euismod tristique ligula. Vivamus molestie, dolor quis dapibus suscipit, felis ante tristique orci, quis ornare ipsum elit in dolor. Cras id pharetra diam. Curabitur vehicula nibh lacinia sapien egestas faucibus. Sed vitae magna ut ante pulvinar pulvinar. Cras lacinia ultrices venenatis.
%div
  %img#column_center_image{alt: "Tervetuloa kaupamme!", src: "http://mironherkut.fi/images/_miro/pas1.png"}