#center_wrapper
  %table#center_table
    %tbody
      %tr
        %td#nav_column_left 
          = render 'nav_column_left'
        %td#nav_column_center 
          = render 'nav_column_center'
        %td#nav_column_right 
          = render 'nav_column_right'
