#footer_wrapper
  %ul#nav_footer
    %li
      %a{:href => "http://mironherkut.fi/"} Etusivu
    %li
      %a{:href => "http://mironherkut.fi/index.php?main_page=account"} Tilini
    %li
      %a{:href => "http://mironherkut.fi/index.php?main_page=privacy"} Yksityisyyssuojatiedote
    %li
      %a{:href => "http://mironherkut.fi/index.php?main_page=news_archiv"} Uutiset