#header_wrapper
  #logo_wrapper
    %a{:href => "http://mironherkut.fi/"}
      %img{:src => "http://mironherkut.fi/includes/templates/mh_classic/images/mhbanner.jpg", :title => " Miron Herkut", :width=> "887", :height => "113" }