%h1 Main#get
%p Find me in app/views/main/get.html.erb
%p Change me to  get.html.haml
%p Add me some content PLEASE!
%p Create partials for header, footer and all those boxes around
%p And then start making the catalog!
