<h1>Main#get</h1>
<p>Find me in app/views/main/get.html.erb</p>
<p>Change me to  get.html.haml</p>
<p>Add me some content PLEASE!</p>
<p>Create partials for header, footer and all those boxes around</p>
<p>And then start making the catalog!</p>
