#column_left
  .box_categories
    = render('boxes/box', box_title: "Ryhmät", box_name: "box_categories")
  .box_categories
    = render('boxes/box', box_title: "Pikahaku", box_name: "box_test")
  .box_categories
    = render('boxes/box', box_title: "Uutuudet...", box_name: "box_test")