.container-fluid
  .row
    .col-md-12
      %nav#footer_navbar.navbar.navbar-default{role: "navigation"}
        .container-fluid
          #collapse_footer.navbar-collapse
            %ul#footer_ul.nav.navbar-nav
              %li
                %a{:href => "http://mironherkut.fi/"} Etusivu
              %li
                %a{:href => "http://mironherkut.fi/index.php?main_page=account"} Tilini
              %li
                %a{:href => "http://mironherkut.fi/index.php?main_page=privacy"}Yksityisyyssuojatiedote
              %li
                %a{:href => "http://mironherkut.fi/index.php?main_page=news_archiv"} Uutiset