.container-fluid
  .row
    .col-md-12
      #page-header
        %img.img-responsive.header-img{:src => "assets/mhbanner.jpg"}
    /  %img.media-object{:src => "app/assets/images/mhbanner.jpg", :title => " Miron Herkut"}