$strong-green: rgb(179, 224, 9)
$dark-green: rgb(120,150,6)
$light-cream: #f8ffd1
$list-group-hover-bg: $strong-green
$list-group-bg: $light-cream
$panel-body-padding: 0px
$panel-bg: $light-cream
$jumbotron-bg: $light-cream
$badge-bg: $dark-green



@import "bootstrap"

#catergory-box-heading
  background-color: $light-cream

.category-box-item
  font-size: 12px
  padding: 5px

.category-box-panel
  background-color: $light-cream
  padding-left: 5px

.category-box-list
  margin: auto

.category-title-badge
  float: right
  font-size: 12px

.panel-heading
  padding: 5px 10px

.panel-default > .panel-heading
  background-color: $strong-green

.header-img
  margin: auto

#page-header
  background-color: $strong-green







